body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


/* book details */

.book-details {
    width: 400px;
    /* height: 350px; */
    padding: 20px;
}

.book-details img {
    height: 200px;
    width: 200px;
}

.book-details .details {
    width: 100%;
}